* {
  margin: 0;
  padding: 0;
  background-origin: border-box;
  width: auto;
  height: auto;
}

@media screen and (max-width: 480px) {
  /* Header */

  header {
    margin: 0 24px 0 24px;
    padding: 10px 0 12px 0;
    background-color: #3c3a39;
    display: flex;
    justify-content: space-between;
  }

  .company {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
  }

  i {
    color: #dbd8d7;
    font-size: 23px;
    height: 25px;
  }

  header > i {
    color: #fff;
  }

  .header1 {
    background-color: #3c3a39;
  }

  .presentation1 {
    background-color: #1c1a19;
  }

  .presentation {
    height: 540px;
    margin: 0 0 0 24px;
    padding: 120px 0 0 0;
    background-color: #1c1a19;
    background-image: url("images/illustration-header-mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }

  .presentation > h1 {
    font-family: "Crete Round", serif;
    font-weight: normal;
    font-size: 56px;
    color: #ff6b00;
    margin: 0 0 12px 0;
  }

  .presentation > h4 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #fff5e1;
    margin: 0 0 12px 0;
  }

  .presentation > p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    margin: 0 0 12px 0;
  }

  .icons {
    display: flex;
    list-style: none;
  }

  .icons > li {
    margin: 0 20px 0 0;
  }
  /* adding works start here */

  .title-container {
    margin: 0 24px 0 24px;
    padding: 120px 0 104px 0;
  }

  .internal-title  {
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    color: #1C1A19;
    margin: 0 0 50px 0;
  }

  .second-main-card-container {
    display: grid;
    margin: 0 24px 0 24px;
    
  }

  .card1 {
    height: 590px;
  }

  .technologies-card1 {
    list-style: none;
    display: flex;
  }

  .technologies-card1 > li {

    margin: 22px 24px 22px 0;
  }
}
